
.B {
    color: rgb(16, 131, 232);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}

.C {
    color: rgb(77, 232, 30);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}

.D {
    color: rgb(230, 234, 7);
    background-color: rgb(210, 217, 216);
    margin: 20px;
    padding-top: 20px;
}

.E {
    color: rgb(187, 14, 235);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}

.F {
    color: rgb(250, 23, 31);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}

.G {
    color: rgb(184, 112, 10);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}

.H {
    color: rgb(22, 11, 75);
    background-color: rgb(228, 135, 216);
    margin: 20px;
    padding-top: 20px;
}

.I{
    color: rgb(255, 0, 0);
    background-color: aliceblue;
    margin: 20px;
    padding-top: 20px;
}